@import '_media-queires';
@import '_color';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: $background;

}


.main {
    @include smallPhones {
        margin-top: 60px;
        &__header {
            margin: auto;
            display: block;
            width: 4rem;
        }

        &__searchField{
            margin-top: 110px;
            .input{
                width: 90%;
                height: 3em;
                border: 1px solid gray;
                border-radius: 5px;
                margin: auto;
                display: block;
                padding: 15px;
                outline: none;
            }
        }

        &__searchBtn{
            margin-top: 130px;
            button {
                outline: none;
                border: none;
                background-color: black;
                color: white;
                font-weight: bold;
                font-size: 20px;
                border-radius: 5px;
                height: 40px;
                width: 110px;
                margin: auto;
                display: block;
            }
        }

        &__movie-container-details{
            .movie-container{
                // Still Deciding
               // <!-- Movie Images goes in here -->
            }

            .movie-details{
                font-size: 1.2500em;
                border: 2px black solid;
                margin: 2em;
                padding: 0.5em;
                

                .movie-heading {
                    font-size: 1.1em;
                }

                .movie-genre {
                    // to be added
                    .genre-list{
                        list-style: none;
                        display: inline;
                    }
                }

                .description{
                    // to be added
                }
            }
        }

        &__cast-detail-container{
            // to be added

            .cast-details {
                // to be added

            }
        }
    }
}
